body
{
    transition: all 2s;
}

#Dark, #AntiDark
{
    transition: all 1s;
    position: fixed;
    width:100px;
    height: 100px;
    bottom: 0;
    right: 0;
    opacity: 100%;
    font-size: 4em;
    margin-right: 5%;
    margin-top: 2%;
    padding-top: 25px;
    text-align: center;
    background-color: white;
    color:black;
    border-radius: 25%;
}

#AntiDark
{
    z-index: -1;
    opacity: 0%;

}

#color_1
{
    color: green;
}
#color_2
{
    color: purple;
}
#color_3
{
    color: red;
}
#color_4
{
    color: blue;
}

h3 , h1 , h2
{
    font-size: 7em;
    padding-top: 0%;
    margin-top: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
h1 , h2
{
    font-size: 10em;
    margin-left: 7%;
    margin-top: 2%;
    display: inline-flex;
}
h2
{
    margin-left: 2%;
    padding-right: 0%;
}
#UnderScore
{
    margin-left: 2%;
}

#SeeMore, #NextLine, #BackLine, #NextLine_, #BackLine_, p
{
    display: inline-block;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Text
{
    font-size: 2em;
    margin-left: 10%;
    margin-right: 15%;
    opacity: 0;
}

#Image
{
    width: 100%; 
    height: auto;
}

#SeeMore
{
    transition: all 1s;
    margin-left:18%;
    /* background-color: white; */
    color:black;
    padding-left: 2%;
    padding-right: 2%;
}

#NextLine, #BackLine
{
    transition: all 1s;
    margin-top: 0%;
    font-size: 6em;
    /* background-color: white; */
    color:black;
    padding-left: 2%;
    padding-right: 2%;
    padding: auto;
    border-radius: 50%;
}

#NextLine_, #BackLine_
{
    transition: all 1s;
    transition: all 1s;
    margin-top: 0%;
    font-size: 4em;
    display: inline-flex;
    color:black;
    padding-left: 1.25%;
    padding-right: 1.25%;
    padding: auto;
    border-radius: 50%;
    position: fixed;
    right: 19%;
    top:1%;
}
#BackLine_
{
    right:25%;
}



#NextLine:hover, #BackLine:hover, #NextLine_:hover, #BackLine_:hover, #SeeMore:hover, #Dark:hover, #AntiDark:hover
{
    transition: all 1s;
    background-color: black;
    color:white;
    cursor: pointer;
}

#NextLine
{
    margin-left: 3%;
}

#BackLine
{
    margin-left:23%;
}

.breakline
{
    border: 10px solid black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
  }

@media screen and (max-width: 900px)
{
    h3 , h1 , h2, #NextLine, #BackLine, #SeeMore
    {
        font-size: 4em;
    }
    h1 , h2
    {
        font-size: 8em;
    }
}
@media screen and (max-width: 700px)
{
    h3 , h1 , h2, #NextLine, #BackLine, #SeeMore
    {
        font-size: 2em;
    }
    h1 , h2
    {
        font-size: 4em;
    }
}

@media screen and (max-width: 500px)
{
    h3 , h1 , h2, #NextLine, #BackLine, #SeeMore
    {
        font-size: 1rem;
    }
    h1 , h2
    {
        font-size: 1em;
    }
}