body.dark
{
    background-color: #15181c;
    color: white;
}
body.dark > #Dark
{
    opacity: 0%;
}

body.dark > #AntiDark
{
    z-index: 1;
    opacity: 100%;
}

#color_1
{
    color: #156308;
}
#color_2
{
    color: #7a0e8c;
}
#color_3
{
    color: #9c1317;
}
#color_4
{
    color: #0e6663;
}

body.dark #NextLine_, body.dark #BackLine_,body.dark #SeeMore, body.dark #NextLine, body.dark #BackLine, body.dark #Dark, body.dark #AntiDark
{
    transition: all 1s;
    color: white;
}

body.dark #NextLine_:hover, body.dark #BackLine_:hover, body.dark #SeeMore:hover, body.dark #NextLine:hover, body.dark #BackLine:hover, body.dark #Dark:hover, body.dark #AntiDark:hover
{
    transition: all 1s;
    color: black;
    background-color: white;
}
body.dark .navBar
{
    transition: all 2s;
    padding-bottom: 1%;
    /* background-color: black; */
    background-color: #15181c;
}
.navBar
{
    transition: all 2s;
    padding-bottom: 20px;
    /* background-color: black; */
    background-color: #EEEEF0;
}

body.dark #UnderScore
{
    color:white;
}

body.Visible #Text
{
    opacity: 100%;
}

body {overflow: hidden}
body.Visible2 {overflow: scroll}
