body
{
    transition: all 2s;
    background-color: #EEEEF0;
}

#Dark, #AntiDark
{
    transition: all 1s;
    position: fixed;
    bottom: 0;
    right: 0px;
    opacity: 100%;
    font-size: 2em;
    margin-right: 30px;
    margin-top: 2%;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    text-align: center;

    color:black;
   
}

.Header__
{
    font-size: 3em;
    padding-left: 2%; 
    position: fixed; 
    width:100%; 
    top:0;
    left: 0;
    padding-top:1%; 
    padding-bottom:20px;
    z-index: 1;
    margin-top:0;
}

#AntiDark
{
    z-index: -1;
    opacity: 0%;

}

body.dark  #color_1
{
    color: #249d0f;
}
body.dark  #color_2
{
    color: #880F9D;
}
body.dark  #color_3
{
    color: #E21D23;
}
body.dark  #color_4
{
    color: #1DE2DC;
}



h3 , h1 , h2
{
    font-size: 4em;
    padding-top: 0%;
    
    font-family: "Press Start 2P", 'Arial Narrow', Arial, sans-serif ;
}

h3
{
    font-size: 3em;
    padding-top: 0%;
    margin-left: 25px;
    margin-top: 200px;
    
    font-family: "Press Start 2P", 'Arial Narrow', Arial, sans-serif ;
}

h1 , h2
{
    font-size: 5em;
    margin-left: 7%;
    margin-top: 50px;
    display: inline-flex;
}
h2
{
    margin-left: 2%;
    padding-right: 0%;
}
@keyframes Blink {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
#UnderScore
{
    margin-left: 0;
    color:black;
    animation-name: Blink;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    
}

#SeeMore, #NextLine, #BackLine, #NextLine_, #BackLine_, p, .Link
{
    display: inline-block;
    font-size: 3em;
    font-family: "Press Start 2P", 'Arial Narrow', Arial, sans-serif;
}



.Link
{
    font-size: 1em;
    display: block;
    color: blue;
}
body.dark .Link
{
    color:cyan;
}

#Text
{
    font-size: 1em;
    margin-left: 10%;
    margin-right: 15%;
    opacity: 0;
    padding-right: 5px;
    padding-left: 5px;
}

#Image
{
    width: 100%; 
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#SeeMore
{
    transition: all 1s;
    margin-left:18%;
    /* background-color: white; */
    color:black;
    padding-left: 2%;
    
    padding-right: 2%;
}

#NextLine, #BackLine
{
    transition: all 1s;
    margin-top: 20px;
    font-size: 3em;
    /* background-color: white; */
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-bottom:0px;
    height: 60px;
    padding-top: 10px;
    /* border-radius: 50%; */
}

#NextLine_, #BackLine_
{
    transition: all 1s;
    transition: all 1s;
    margin-top: 5px;
    font-size: 3em;
    display: inline-flex;
    color:black;
    padding-left: 1.25%;
    padding-right: 1.25%;
    padding-bottom: 0px;
    /*border-radius: 50%;*/
    position: fixed;
    right: 19%;
    top:1%;
    z-index: 2;
}
#BackLine_
{
    right:25%;
}



#NextLine:hover, #BackLine:hover, #NextLine_:hover, #BackLine_:hover, #SeeMore:hover, #Dark:hover, #AntiDark:hover
{
    transition: all 1s;
    background-color: black;
    color:white;
    cursor: pointer;
}

#NextLine
{
    margin-left: 3%;
}

#BackLine
{
    margin-left:13%;
}
#ProgHead {
      font-size: 2em;
    }
    #ProgBody {
      font-size: 1em;
    }
.breakline
{
    border: 10px solid black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
  }

@media screen and (max-width: 1300px)
{
    h3 , h1 , h2, #NextLine, #BackLine, #SeeMore
    {
        font-size: 2em;
    }
    h1 , h2
    {
        font-size: 3em;
    }
}
@media screen and (max-width: 800px)
{
    #NextLine_, #BackLine_
    {
        transition: all 1s;
        transition: all 1s;
        margin-top: 0%;
        margin-bottom:0%;
        font-size: 2em;
        display: inline-flex;
        color:black;
        padding-left: 1%;
        padding-right: 1%;
        position: fixed;
        right: 2%;
        top:5%;
        z-index: 2;
    }
    #BackLine_
    {
        right:10%;
    }
    h3 , h1 , h2, #NextLine, #BackLine, #SeeMore
    {
        font-size: 2em;
    }
    h1 , h2
    {
        font-size: 3em;
    }
    #Dark, #AntiDark
    {
        transition: all 1s;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 23px;
        overflow: hidden;
        opacity: 100%;
        font-size: 2em;

        margin-top: 2%;
        text-align: center;
        color:black;
        

    }
    .Header__
    {
        font-size: 2em;
        padding-left: 25px; 
        width:100%; 
        top:0px; 
        padding-top:20px; 
        padding-bottom:20px;
    }
    h3 {
      margin-top: 125px;
    }
    #ProgHead {
      font-size: 2em;
    }
    #ProgBody {
      font-size: 1em;
    }
}

@media screen and (max-width: 650px)
{
    #NextLine_, #BackLine_
    {
        transition: all 1s;
        transition: all 1s;
        margin-top: 0%;
        margin-bottom:0%;
        font-size: 2em;
        display: inline-flex;
        color:black;
        padding-left: 1%;
        padding-right: 1%;
        position: fixed;
        right: 2%;
        top:2%;
        z-index: 2;
    }
    #BackLine_
    {
        right:10%;
    }
    h3 , h1 , h2, #NextLine, #BackLine, #SeeMore
    {
        font-size: 1em;
    }
    h1 , h2
    {
        font-size: 2em;
    }
    #ProgHead {
      font-size: 2em;
    }
    #ProgBody {
      font-size: 1em;
    }
    #Dark, #AntiDark
    {
        transition: all 1s;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 23px;
        overflow: hidden;
        opacity: 100%;
        font-size: 2em;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 2%;
        text-align: center;
        color:black;
        

    }
    #NextLine, #BackLine
    {
      height: 2em;
    }
    .Header__
    {
        font-size: 1em;
        padding-left: 25px; 
        width:100%; 
        top:0px; 
        padding-top:20px; 
        padding-bottom:20px;
    }
    h3 {
      margin-top: 125px;
    }
}
@media screen and (max-width: 500px)
{
    #NextLine_, #BackLine_
    {
        transition: all 1s;
        transition: all 1s;
        margin-top: 0%;
        margin-bottom:0%;
        font-size: 1em;
        display: inline-flex;
        color:black;
        padding-left: 1%;
        padding-right: 1%;
        position: fixed;
        right: 2%;
        top:2%;
        z-index: 2;
    }
    #BackLine_
    {
        right:10%;
    }
    h3 , h1 , h2, #NextLine, #BackLine, #SeeMore
    {
        font-size: 1rem;
    }
    h1 , h2
    {
        font-size: 1em;
    }
    #Dark, #AntiDark
    {
        transition: all 1s;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 23px;
        overflow: hidden;
        opacity: 100%;
        font-size: 1em;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 2%;
        text-align: center;
        color:black;
        

    }
    #NextLine, #BackLine
    {
      height: 1em;
    }
    .Header__
    {
        font-size: 1rem;
        padding-left: 25px; 
        width:100%; 
        top:0px; 
        padding-top:20px; 
        padding-bottom:20px;
    }
    h3 {
      margin-top: 125px;
    }
    #ProgHead {
      font-size: 1em;
    }
    #ProgBody {
      font-size: .7em;
    }
}
